$dark: #444;
$light: #ddd;

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

/*-------------------------------------------------------------SIDEBAR/HEADER/FOOTER-------------------------------------------------------------*/
.navBar {
  position: relative;
  padding: 10px;
  background-color: $dark;
  margin: 0;

  .button {
    padding-left: 5%;
  }
  h2 {
    float: right;
    margin: 0;
    color: white;
    padding-right: 5%;
  }
}
/*-------------------------------------------------------------HOMEPAGE-------------------------------------------------------------*/
.homepage {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background-boardwalk-clouds-808465.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: white;

  .row {
    height: 33vh;
  }

  h1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 60px;
    border-bottom: solid 5px;
  }

  .buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    .button {
      margin: 10px;
    }
  }
}

/*-------------------------------------------------------------ABOUT-------------------------------------------------------------*/
.about {
  .dark-bg * {
    color: $light !important;
    .td {
      color: $dark !important;
    }
  }
  .light-bg * {
    color: $dark !important;
  }
  background: url("../images/background-boardwalk-clouds-808465.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-description {
  margin-top: 75px;
}

.p1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  margin: 0;
  color: $light;

  .icon {
    color: white;
  }

  th.center.aligned {
    color: black !important;
  }
  td.center.aligned {
    color: black !important;
  }
}

.light-bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  color: $dark;
}

.item-section {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;

  p {
    ul {
      margin: 0;
    }
  }
}

.ui.items > .item {
  margin-bottom: 4%;
}

.ui.grid > .row > .column {
  padding: 10px 30px 10px 30px;
}

.ui.segment {
  padding: 0;
  margin: 0;
}

/*-------------------------------------------------------------PROJECTS-------------------------------------------------------------*/
.projects {
  .github-button {
    width: 120px;
  }

  .img {
    margin: 0px;
  }

  .ui.card {
    width: 70%;
    margin: 8%;
    margin-left: auto;
    margin-right: auto;
  }

  .ui.card > .image,
  .ui.cards > .card > .image {
    margin: 0px;
    padding: 3px;
    object-fit: cover;
    display: block;
  }

  .cardBox {
    margin: 5%;
    min-height: 100vh;
  }
}

/*-------------------------------------------------------------CV-------------------------------------------------------------*/

.cv {
  a {
    width: 160px;
  }
  .imageBox {
    margin: 5%;
    min-height: 100vh;
  }
}

/*-------------------------------------------------------------CONTACT------------------------------------------------------------*/

.contact {
  a {
    width: 150px;
  }
  .header {
    margin-bottom: 30%;
  }
  h2 {
    text-align: center;
  }
  .button {
    margin-top: 2%;
  }
  .formBox {
    margin-left: 20%;
    margin-right: 20%;
    min-height: 100vh;
  }
  .ui.divider {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: white;
  }
}

.ui.for .required {
  display: none;
}

.ui.form .field > label {
  color: white;
  .required {
    display: none;
    color: green;
  }
}

.projects,
.cv,
.contact {
  .box {
    margin: 0;
    padding: 5%;

    .button {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
